.blog{
    height: 60rem;
    width: 100%;
    background: #fafafa;
    padding: 60px 0 90px;
}

.blog-area{
    height: 43rem;
    color: white;
}

.medium-icon{
    color: white;
}

@media only screen and (max-width: 600px) {
    .blog{
        height: 150rem;
    }
}