.contact{
    height: 60rem;
    width: 100%;
    padding: 110px 0 90px;
    background-color: darkslategray;
}

.form-group{
    /* justify-content: center; */
    text-align: center;
    margin-top: 20px;
    /* background-color: darkslategray; */
    color:white;
    font-family: system-ui;
   
    
}

.contact-input{
    margin-top: 20px;
    
}

.input-field{
    width: 30%;
    border-radius: 5px;
    border: 3px solid gray;

}


.message{
    height: 20vh;
}

.contact-button{
    border: 2px solid white;
    background: rgb(1, 13, 34);
    border-radius: 5px;
    color: white;
    height: 8vh;
    width: 15vh;
}

.contact-button:hover{
    background: white;
    border: 2px solid gray;
    color: black;
}

.feedback{
    text-align: center;
    background: green;
    color: white;
}

