.link-menu{
    display: block;
    padding: .5rem 1rem;
    color: white;
    font-size:16px;
    font-weight: 600;
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
}

.link-menu:hover{
   
    text-decoration-line:underline;
    text-decoration-thickness: 2px;
    color: black !important;
}

/* a:hover{
  
} */

.nav-header .active{
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
}

.navigation{
    height: 80px;;
}

@media only screen and (max-width: 600px) {
   .link-menu{
       color:black;
       background: white;
   }
  
}
