.projects {
  height: 100rem;
  width: 100%;
  background-color: white;
  padding: 110px 0 90px;
}

.project-body {
  margin-top: 10px ;
  /* margin-left: 27rem; */
  
}

.more-card{
  margin-top: 20px;
  text-align: center;
  background: aquamarine;
  
}
 
.card-area{
  height: 35rem;
 
}

.card-area:hover{
  transform: scale(0.9, 0.9);
}


.more-body{
  margin-top: 50%;
}


@media only screen and (max-width: 600px) {
  .projects{
    height: 250rem;
  }
}
