.skills{
    height: 60rem;
    width: 100%;
    background: #fafafa;
    padding: 110px 0 90px;
}

.skill-title .t-color{
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    color: #040c2c;
}

.skill-title{
    text-align: center;
}

.skill-text{
    color: #797979;
    font-family: Open Sans,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
   
}

.bottom-line{
    width: 80px;
    height: 2px;
    display: inline-block;
    background: #bcbcbc;
    text-align: center;
}

.stack-icon{
    text-align: center;
    /* margin: 20px;*/

} 

/* .redux-icon{
    color: black;
} */

@media only screen and (max-width: 600px) {
    .skills{
        height: 70rem;
    }
}

@media only screen and (max-width: 400px) {
    .skills{
        height: 75rem;
        padding-top: 250px;
    }
}

